body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    font-family: Arial, sans-serif;
}


h1 {
    text-align: center;
    color: #fff;
}